:root {
  --surface-primary: #000000ff;
  --surface-modal: #101010ff;
  --surface-foreground-1: #1f1f1fff;
  --surface-foreground-2: #2d2d2dff;
  --surface-overlay: #2d2d2dff;
  --surface-stroke: #2d2d2dff;
  --buttons-button-primary: #ffffffff;
  --buttons-button-secondary: #2d2d2dff;
  --buttons-btn-primary-text: #000000ff;
  --buttons-btn-secondary-text: #ffffffff;
  --buttons-btn-danger: #ff2524ff;
  --buttons-btn-danger-text: #000000ff;
  --buttons-btn-primary-active: #f4f4f4ff;
  --buttons-btn-primary-diaabled: #3c3c3cff;
  --spot-50: #08204cff;
  --spot-100: #d1e1ffff;
  --spot-200: #1969feff;
  --spot-500: #1969feff;
  --spot-500-green: #25ad32ff;
  --spot-500-yellow: #ee9c2eff;
  --spot-500-pink: #ff2e92ff;
  --spot-500-purple: #6a50ceff;
  --spot-500-red: #ff2524ff;
  --highlight-green-50: #06340fff;
  --highlight-green-500: #7bcd83ff;
  --highlight-purple-50: #2a2a52ff;
  --highlight-purple-500: #a69be2ff;
  --highlight-red-50: #330707ff;
  --highlight-red-500: #ff7c7cff;
  --highlight-yellow-50: #301f09ff;
  --highlight-yellow-500: #f5ce82ff;
  --highlight-pink-50: #37091fff;
  --highlight-pink-500: #ff82beff;
  --highlight-blue-50: #051533ff;
  --highlight-blue-500: #1969feff;
  --highlight-green-150: #06340fff;
  --highlight-hightlight-purple-150: #2a2a52ff;
  --highlight-hightlight-red-150: #ff2524ff;
  --highlight-yellow-150: #ee9c2eff;
  --highlight-pink-150: #ff2e92ff;
  --highlight-blue-150: #75a5feff;
  --texts-display-01: #ffffffff;
  --texts-display-02: #1f1f1fff;
  --texts-heading-1: #1f1f1fff;
  --texts-heading-2: #2d2d2dff;
  --texts-heading-3: #3c3c3cff;
  --texts-sub-text: #2d2d2dff;
  --texts-body: #5a5a5aff;
  --texts-caption-1: #959595ff;
  --texts-caption-2: #aaaaaaff;
  --texts-icons-icon-nav-active: #1f1f1fff;
  --texts-icons-icon-nav-inactive: #bfbfbfff;
  --texts-icons-icon-system: #2d2d2dff;
  --texts-icons-icon-explainer: #777777ff;
  --texts-icons-handle: #3c3c3cff;
  --texts-icons-icon-subdued: #777777ff;
  --texts-paragraph: #777777ff;
  --texts-success-text: #25ad32ff;
  --space-0: 0;
  --space-2: 2px;
  --space-4: 4px;
  --space-6: 6px;
  --space-8: 8px;
  --space-10: 10px;
  --space-apace-12: 12px;
  --space-14: 14px;
  --space-16: 16px;
  --space-20: 20px;
  --space-22: 22px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-24: 24px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-xlarge: 24px;
  --radius-max: 64px;
  --radius-bottom-sheet: 32px;
  --majen-main-surface: #ffffffff;
  --majen-modal-surface: #ffffffff;
  --majen-text-display: #ffffffff;
  --majen-default-text: #ffffffff;
  --majen-sub-text: #ffffffff;
  --majen-inactive-icon: #ffffffff;
  --heading-1-font-size: 57px;
  --heading-1-text-decoration: none;
  --heading-1-font-family: Geist;
  --heading-1-font-weight: 400;
  --heading-1-font-style: normal;
  --heading-1-font-stretch: normal;
  --heading-1-letter-spacing: 0;
  --heading-1-line-height: 68.4px;
  --heading-1-paragraph-indent: 0;
  --heading-1-paragraph-spacing: 0;
  --heading-1-text-case: none;
  --heading-2-font-size: 46px;
  --heading-2-text-decoration: none;
  --heading-2-font-family: Geist;
  --heading-2-font-weight: 400;
  --heading-2-font-style: normal;
  --heading-2-font-stretch: normal;
  --heading-2-letter-spacing: 0;
  --heading-2-line-height: 55.2px;
  --heading-2-paragraph-indent: 0;
  --heading-2-paragraph-spacing: 0;
  --heading-2-text-case: none;
  --heading-3-font-size: 37px;
  --heading-3-text-decoration: none;
  --heading-3-font-family: Geist;
  --heading-3-font-weight: 400;
  --heading-3-font-style: normal;
  --heading-3-font-stretch: normal;
  --heading-3-letter-spacing: 0;
  --heading-3-line-height: 44.4px;
  --heading-3-paragraph-indent: 0;
  --heading-3-paragraph-spacing: 0;
  --heading-3-text-case: none;
  --heading-4-font-size: 29px;
  --heading-4-text-decoration: none;
  --heading-4-font-family: Geist;
  --heading-4-font-weight: 400;
  --heading-4-font-style: normal;
  --heading-4-font-stretch: normal;
  --heading-4-letter-spacing: 0;
  --heading-4-line-height: 34.8px;
  --heading-4-paragraph-indent: 0;
  --heading-4-paragraph-spacing: 0;
  --heading-4-text-case: none;
  --heading-5-font-size: 23px;
  --heading-5-text-decoration: none;
  --heading-5-font-family: Geist;
  --heading-5-font-weight: 400;
  --heading-5-font-style: normal;
  --heading-5-font-stretch: normal;
  --heading-5-letter-spacing: 0;
  --heading-5-line-height: 27.6px;
  --heading-5-paragraph-indent: 0;
  --heading-5-paragraph-spacing: 0;
  --heading-5-text-case: none;
  --body-1-font-size: 19px;
  --body-1-text-decoration: none;
  --body-1-font-family: Geist;
  --body-1-font-weight: 500;
  --body-1-font-style: normal;
  --body-1-font-stretch: normal;
  --body-1-letter-spacing: 0;
  --body-1-line-height: 22.8px;
  --body-1-paragraph-indent: 0;
  --body-1-paragraph-spacing: 0;
  --body-1-text-case: none;
  --body-2-font-size: 15px;
  --body-2-text-decoration: none;
  --body-2-font-family: Geist;
  --body-2-font-weight: 500;
  --body-2-font-style: normal;
  --body-2-font-stretch: normal;
  --body-2-letter-spacing: 0;
  --body-2-line-height: 18px;
  --body-2-paragraph-indent: 0;
  --body-2-paragraph-spacing: 0;
  --body-2-text-case: none;
  --caption-1-font-size: 12px;
  --caption-1-text-decoration: none;
  --caption-1-font-family: Geist;
  --caption-1-font-weight: 400;
  --caption-1-font-style: normal;
  --caption-1-font-stretch: normal;
  --caption-1-letter-spacing: 0;
  --caption-1-line-height: 14.4px;
  --caption-1-paragraph-indent: 0;
  --caption-1-paragraph-spacing: 0;
  --caption-1-text-case: none;
  --caption-2-font-size: 10px;
  --caption-2-text-decoration: none;
  --caption-2-font-family: Geist;
  --caption-2-font-weight: 400;
  --caption-2-font-style: normal;
  --caption-2-font-stretch: normal;
  --caption-2-letter-spacing: 0;
  --caption-2-line-height: 12px;
  --caption-2-paragraph-indent: 0;
  --caption-2-paragraph-spacing: 0;
  --caption-2-text-case: none;
  --senibold-h4-font-size: 29px;
  --senibold-h4-text-decoration: none;
  --senibold-h4-font-family: Geist;
  --senibold-h4-font-weight: 600;
  --senibold-h4-font-style: normal;
  --senibold-h4-font-stretch: normal;
  --senibold-h4-letter-spacing: 0;
  --senibold-h4-line-height: 34.8px;
  --senibold-h4-paragraph-indent: 0;
  --senibold-h4-paragraph-spacing: 0;
  --senibold-h4-text-case: none;
}
